<div class="row g-2 mb-3">
  <div class="col-sm-4">
    <input
      type="text"
      class="form-control"
      placeholder="🔍 Rechercher un Pokémon"
      (input)="onSearch($event)"
    />
  </div>
  <div class="col-sm-4">
    <select class="form-select" (change)="onTypeChange($event)">
      <option value="">📂 Tous les types</option>
      @for (type of types; track type) {
      <option [value]="type">{{ type | titlecase }}</option>
      }
    </select>
  </div>
  <div class="col-sm-4 d-flex gap-2">
    <button class="btn btn-outline-primary w-100" (click)="onSort('asc')">
      A → Z
    </button>
    <button class="btn btn-outline-primary w-100" (click)="onSort('desc')">
      Z → A
    </button>
  </div>
</div>
