<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
  @for (p of filteredPokemons(); track p.id) {
    <div class="col">
      <a [routerLink]="['/pokemon', p.name]" class="text-decoration-none">
        <div class="card text-center shadow-sm h-100">
          <img [src]="p.image" class="card-img-top mx-auto p-3" [alt]="p.name"
               style="width: 120px; height: 120px; object-fit: contain;" />
          <div class="card-body">
            <h5 class="card-title">{{ p.name | titlecase }}</h5>
          </div>
        </div>
      </a>
    </div>
  }
  @empty {
    <p class="text-center mt-4">Aucun Pokémon à afficher.</p>
  }
</div>
