<div *ngIf="pokemon">
  <h2>{{ pokemon.name | titlecase }}</h2>
  <img [src]="pokemon.sprites.front_default" />
  <p>ID : {{ pokemon.id }}</p>
  <p>Poids : {{ pokemon.weight }} | Taille : {{ pokemon.height }}</p>

  <h3>Types :</h3>
  <ul>
    <li *ngFor="let t of pokemon.types">{{ t.type.name }}</li>
  </ul>

  <h3>Stats :</h3>
  <ul>
    <li *ngFor="let s of pokemon.stats">
      {{ s.stat.name }}: {{ s.base_stat }}
    </li>
  </ul>

  <h3>Capacités :</h3>
  <ul>
    <li *ngFor="let a of pokemon.abilities">{{ a.ability.name }}</li>
  </ul>
</div>
